{% extends 'layouts.app' %}

{% block content %}
	<div class="container">
		<h1>Nos articles - Page {{ articles.currentPage }}</h1>

		{% for article in articles %}
			<div class="col-md-4">
				<h2>
					<a href="{{ route('article.show', article.id) }}">
						{{ article.title }}
					</a>
				</h2>
				<p>Par {{ article.author.name }}</p>
			</div>
		{% endfor %}

		{{ articles.render() | raw() }}
	</div>
{% endblock %}
