{% extends 'layouts.app' %}

{% block content %}
	<div class="container">
		<h1>Nos articles - Page {{ articles.currentPage }}</h1>

		<div class="row">
			<div class="col-md-12">
				<a href="{{ route('article.create') }}" class="btn btn-primary">Ajouter un article</a>
			</div>
		</div>

		<div class="row">
			{% for article in articles %}
				<div class="col-md-4">
					<h2>
						<a href="{{ route('article.show', [article]) }}">
							{{ article.title | truncate(15, true, '***') }}
						</a>
					</h2>
					<p>Par {{ article.author.name }} le {{ article.published_at | date('d/m/Y H:i:s') }}</p>
				</div>
			{% endfor %}
		</div>

		{{ articles.render() | raw() }}
	</div>
{% endblock %}
